<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Angular Application CRUD</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" (click)="openDialog()">Add Employee</button>
  </mat-toolbar>
</div>

<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type a keyword " #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- First Name Column -->
        <ng-container matColumnDef="employeeFirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.employeeFirstName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="employeeLastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.employeeLastName}} </td>
        </ng-container>

        <!-- Rank Column -->
        <ng-container matColumnDef="employeeRank">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
          <td mat-cell *matCellDef="let row"> {{row.employeeRank}} </td>
        </ng-container>

        <!-- Birth Date Column -->
        <ng-container matColumnDef="employeeBirthDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date </th>
          <td mat-cell *matCellDef="let row"> {{row.employeeBirthDate | date:"dd-MM-yyyy"}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="employeePhoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
          <td mat-cell *matCellDef="let row"> {{row.employeePhoneNumber}} </td>
        </ng-container>

        <!-- Section Column -->
        <ng-container matColumnDef="employeeSection">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Section </th>
          <td mat-cell *matCellDef="let row"> {{row.employeeSection}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="editEmployee(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="deleteEmployee(row.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>
</div>
